@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
	--green: #046a38;
	--theme: #ff671f;
	--black: #000;
	--light: #666;
	--box-shadow: 0 0.5rem 1.5rem black;
	--border: 0.5rem solid black;
	--outline: 0.1rem solid black;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	text-decoration: none;
	text-transform: capitalize;
	transition: all 0.2s linear;
	font-family: "Poppins", Arial, sans-serif;
}
html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-behavior: smooth;
	scroll-padding-top: 7rem;
}
body {
	background: #fff;
}

section {
	padding: 2rem 9%;
}

.heading {
	text-align: center;
	padding: 2rem 0;
	padding-bottom: 3rem;
	font-size: 3.5rem;
	color: var(--black);
}
.heading span {
	background: var(--theme);
	color: #fff;
	display: inline-block;
	padding: 0.5rem 3rem;
	clip-path: polygon(100% 0%, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
	margin-top: 1rem;
	display: inline-block;
	padding: 0.8rem 3rem;
	font-size: 1.7rem;
	border: 0.2rem solid var(--black);
	border-radius: 0.5rem;
	color: var(--black);
	cursor: pointer;
	background: none;
}
.btn:hover {
	background: linear-gradient(to right, var(--green), #fff);
	background-size: 200% 200%;
	animation: animateButtonBackground 1s linear forwards;
	color: #fff;
}
@keyframes animateButtonBackground {
	0% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 9%;
	background: #fff;
	box-shadow: var(--box-shadow);
}
.header .navbar-left span {
	color: var(--theme);
	font-size: 2.5rem;
	font-weight: bolder;
}
.header .navbar-left a {
	text-decoration: none;
	color: var(--black);
}
.header .navbar-left a:hover {
	color: var(--green);
}
.header .navbar a {
	font-size: 1.7rem;
	margin: 0 1rem;
	color: var(--black);
}

.header .navbar a:hover {
	color: var(--green);
}
.header .navbar-right span {
	font-size: 2.5rem;
	height: 4.5rem;
	width: 4.5rem;
	line-height: 4.5rem;
	border-radius: 0.5rem;
	background: #eee;
	color: var(--black);
	margin-right: 0.3rem;
	text-align: center;
}
.header .navbar-right span:hover {
	background: var(--green);
	color: white;
	cursor: pointer;
}
#menu-btn {
	display: none;
}

.header .navbar.active {
	right: 2rem;
	transition: 0.4s linear;
}
.header .search-box {
	position: absolute;
	top: 110%;
	right: -110%;
	width: 50rem;
	height: 5rem;
	background: #fff;
	border-radius: 0.5rem;
	overflow: hidden;
	display: flex;
	align-items: center;
	box-shadow: var(--box-shadow);
}

.header .search-box.active {
	right: 2rem;
	transition: 0.4s linear;
}

.header .search-box input {
	height: 100%;
	width: 100%;
	background: none;
	text-transform: none;
	font-size: 1.6rem;
	color: var(--black);
	padding: 0 1.5rem;
}

.header .search-box label {
	font-size: 3rem;
	padding-right: 1.5rem;
	color: var(--black);
	cursor: pointer;
}

.header .search-box label:hover {
	color: var(--green);
}

.header .shopping-cart {
	position: absolute;
	top: 110%;
	right: -110%;
	padding: 1rem;
	border-radius: 0.5rem;
	box-shadow: var(--box-shadow);
	width: 30rem;
	background: #fff;
}
.header .shopping-cart.active {
	right: 2rem;
	transition: 0.4s linear;
}
.header .shopping-cart .box {
	display: flex;
	align-items: center;
	gap: 1rem;
	position: relative;
	margin: 1rem 0;
}

.header .shopping-cart .box img {
	height: 10rem;
}

.header .shopping-cart .box .material-symbols-rounded {
	font-size: 2.5rem;
	position: absolute;
	top: 50%;
	right: 2rem;
	cursor: pointer;
	color: var(--light);
	transform: translateY(-50%;);
}

.header .shopping-cart .box .material-symbols-rounded:hover {
	color: var(--green);
}
.header .shopping-cart .box .content h3 {
	color: var(--black);
	font-size: 1.7rem;
	padding-bottom: 1rem;
}
.header .shopping-cart .box .content span {
	color: var(--light);
	font-size: 1.6rem;
}
.header .shopping-cart .box .content .quantity {
	padding-left: 1rem;
}
.header .shopping-cart .total {
	font-size: 2.5rem;
	padding: 1rem 0;
	text-align: center;
	color: var(--black);
}
.header .shopping-cart .btn {
	display: block;
	text-align: center;
	margin: 1rem 0;
}
.header .sign-in {
	position: absolute;
	top: 110%;
	right: -110rem;
	box-shadow: var(--box-shadow);
	padding: 2rem;
	border-radius: 0.5rem;
	background: #fff;
}

.header .sign-in.active {
	right: 2rem;
	transition: 0.4s linear;
}
.home {
	display: flex;
	justify-content: center;
	background: url(../image/banner-img.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 17rem;
	padding-bottom: 10rem;
}
.home .container {
	text-align: center;
	width: 60rem;
}
.home .container h3 {
	color: var(--black);
	font-size: 3rem;
}
.home .container h3 span {
	color: var(--theme);
}

.home .container p {
	color: var(--light);
	font-size: 1.7rem;
	padding: 1rem 0;
	line-height: 1.8;
}
.features .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 1.5rem;
}
.features .box-container .box {
	padding: 3rem 2rem;
	background: #fff;
	outline: var(--outline);
	outline-offset: -1rem;
	text-align: center;
	box-shadow: var(--box-shadow);
}

.features .box-container .box:hover {
	box-shadow: 1px 1px 10px 4px var(--green);
}

.features .box-container .box img {
	margin: 1rem 0;
	height: 15rem;
}
.features .box-container .box h3 {
	font-size: 2.5rem;
	line-height: 1.8;
	color: var(--black);
}
.features .box-container .box p {
	font-size: 2.5rem;
	line-height: 1.5;
	color: var(--light);
	padding-bottom: 1rem 0;
}

.products .product-slider {
	padding: 1rem;
}

.products .product-slider:first-child {
	margin-bottom: 2rem;
}
.products .product-slider .wrapper {
	display: flex;
	justify-content: center;
}
* .products .product-slider .wrapper .box {
	background: #fff;
	border-radius: 0.5rem;
	text-align: center;
	margin: 1rem;
	padding: 3rem 2rem;
	outline-offset: -1rem;
	outline: var(--outline);
	box-shadow: var(--box-shadow);
	transition: 0.2s linear;
}

.products .product-slider .wrapper .box:hover {
	box-shadow: 1px 1px 10px 4px var(--green);
}
.products .product-slider .wrapper .box img {
	height: 20rem;
}
.products .product-slider .wrapper .box h1 {
	font-size: 2.5rem;
	color: var(--black);
}
.products .product-slider .wrapper .box .price {
	font-size: 2rem;
	color: var(--light);
	padding: 0.5rem 0;
}
.products .product-slider .wrapper .box .stars {
	font-variation-settings: "FILL" 1;
	color: orange;
	padding: 0.5rem 0;
}
.categories .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
	gap: 1.5rem;
}
.categories .box-container .box {
	padding: 3rem 0;
	background: #fff;
	border-radius: 0.5rem;
	outline: var(--outline);
	outline-offset: -1rem;
	text-align: center;
	box-shadow: var(--box-shadow);
}

.categories .box-container .box:hover {
	box-shadow: 1px 1px 10px 4px var(--green);
}

.categories .box-container .box img {
	margin: 1rem 0;
	height: 15rem;
}
.categories .box-container .box h3 {
	font-size: 2rem;
	line-height: 1.8;
	color: var(--black);
}
.categories .box-container .box p {
	font-size: 1.7rem;
	line-height: 1.5;
	color: var(--light);
	padding-bottom: 1rem 0;
}

.review .review-slider .wrapper {
	display: flex;
	justify-content: center;
}

.review .review-slider .wrapper .box {
	background: #fff;
	border-radius: 0.5rem;
	text-align: center;
	margin: 1rem;
	padding: 3rem 2rem;
	outline-offset: -1rem;
	outline: var(--outline);
	box-shadow: var(--box-shadow);
	transition: 0.2s linear;
}
.review .review-slider .wrapper .box:hover {
	box-shadow: 1px 1px 10px 4px var(--green);
}

.review .review-slider .wrapper .box img {
	height: 10rem;
	width: 10rem;
	border-radius: 50%;
}

.review .review-slider .wrapper .box p {
	padding: 1rem 0;
	line-height: 1.8;
	color: var(--light);
	font-size: 1.5rem;
}
.review .review-slider .wrapper .box h3 {
	padding-bottom: 0.5rem;
	color: var(--black);
	font-size: 2.2rem;
}

.review .review-slider .wrapper .box .stars {
	font-variation-settings: "FILL" 1;
	color: orange;
	padding: 0.5rem 0;
}
.footer {
	background: #fff;
}
.footer .box-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
	gap: 1.5rem;
}
.footer .box-container .box h3 {
	font-size: 2.5rem;
	color: var(--black);
	padding: 1rem 0;
}
.footer .box-container .box h3 span {
	color: var(--theme);
	display: flex;
	padding-right: 0.5rem;
}
.footer .box-container .box .links {
	display: block;
	font-size: 1.5rem;
	color: var(--light);
	padding: 1rem 0;
}

.footer .box-container .box .links i {
	color: var(--theme);
	padding-right: 0.5rem;
}
.footer .box-container .box .links:hover i {
	padding-right: 2rem;
}
.footer .box-container .box p {
	line-height: 1.8;
	font-size: 1.5rem;
	color: var(--light);
	padding: 1rem 0;
}
.footer .box-container .box .share a {
	height: 4rem;
	width: 4rem;
	line-height: 4rem;
	border-radius: 0.5rem;
	font-size: 2rem;
	color: var(--black);
	margin-left: 0.2rem;
	background: #eee;
	text-align: center;
	display: inline-block;
}
.footer .box-container .box .share a:hover {
	background: var(--green);
	color: #fff;
}
.footer .box-container .box .email {
	width: 100%;
	margin: 0.7rem 0;
	padding: 1rem;
	border-radius: 0.5rem;
	background: #eee;
	font-size: 1.6rem;
	color: var(--black);
	text-transform: none;
}
.footer .box-container .box img {
	margin-top: 2rem;
	height: 3rem;
}
.footer .credits {
	text-align: center;
	margin-top: 2rem;
	padding: 1rem;
	padding-top: 2.5rem;
	font-size: 2rem;
	color: var(--black);
	border-top: var(--border);
}
.footer .credits span {
	color: var(--theme);
}

.product_container {
	border: 5px solid aqua;
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: 66rem;
}

.product_image {
	border: 5px solid red;
	width: 50vw;
	height: auto;
}

.product_image img {
	border: 5px solid black;
	width: 100%;
	height: auto;
}

.product_price {
	width: 30%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.product_description {
	border: 5px solid green;
	width: 50%;
	padding: 20px;
}

.title {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
	text-align: center;
}

.price {
	font-size: 18px;
	margin: 0;
	text-align: center;
}

.mrp {
	font-size: 14px;
	text-decoration: line-through;
	margin: 0;
	text-align: center;
}

.offer {
	font-size: 14px;
	color: green;
	margin: 0;
	text-align: center;
}

.popup {
	display: none;
	position: fixed;
	z-index: 999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
	overflow: auto;
}

.popup-content {
	position: relative;
	background-color: #fefefe;
	margin: 5% auto;
	padding: 20px;
	width: 80%;
	max-width: 800px;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.image-container {
	position: relative;
}

.popup-trigger {
	cursor: pointer;
}

.image-container:hover .popup-trigger {
	opacity: 0.8;
}
.slider {
	width: 800px;
	height: 500px;
	border-radius: 10px;
	overflow: hidden;
}

.slides {
	width: 500%;
	height: 500px;
	display: flex;
}

.slides input {
	display: none;
}

.slide {
	width: 20%;
	transition: 2s linear;
}

.slide img {
	width: 800px;
	height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual {
	position: absolute;
	width: 800px;
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.manual-btn {
	border: 2px solid #40d3dc;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 1s linear;
}

.manual-btn:not(:last-child) {
	margin-right: 40px;
}

.manual-btn:hover {
	background: #40d3dc;
}

#radio1:checked ~ .first {
	margin-left: 0;
}

#radio2:checked ~ .first {
	margin-left: -20%;
}

#radio3:checked ~ .first {
	margin-left: -40%;
}

#radio4:checked ~ .first {
	margin-left: -60%;
}

/*css for automatic navigation*/

.navigation-auto {
	position: absolute;
	display: flex;
	width: 800px;
	justify-content: center;
	margin-top: 460px;
}

.navigation-auto div {
	border: 2px solid #40d3dc;
	padding: 5px;
	border-radius: 10px;
	transition: 1s linear;
}

.navigation-auto div:not(:last-child) {
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
	background: #40d3dc;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
	background: #40d3dc;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
	background: #40d3dc;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
	background: #40d3dc;
}
